<% set pk_param=pk_param|default('pk') %>

<div>
    <ul>
        {% for <{ crud_prefix }>item in <{ crud_prefix }>items %}
        <li>
            {% if <{ crud_prefix }>crud.details %}<a href="{% url <{ crud_prefix }>crud.details <{ link_extra }><{ pk_param }>=<{ crud_prefix }>item.pk %}">{{ <{ crud_prefix }>item }}</a>{% endif %}

            {% if <{ crud_prefix }>crud.update %}<a href="{% url <{ crud_prefix }>crud.update <{ link_extra }><{ pk_param }>=<{ crud_prefix }>item.pk %}">[Edit]</a>{% endif %}
            {% if <{ crud_prefix }>crud.delete %}<a href="{% url <{ crud_prefix }>crud.delete <{ link_extra }><{ pk_param }>=<{ crud_prefix }>item.pk %}">[X]</a>{% endif %}
        </li>
        {% endfor %}
    </ul>

    <p>
        {% if <{ crud_prefix }>crud.create %}<a href="{% url <{ crud_prefix }>crud.create <{ link_extra }>%}">[Create]</a>{% endif %}
    </p>
</div>