<div>
    <h2>{{ <{ meta }>.verbose_name_plural }}</h2>

    <ul>
        {% for <{ item }> in <{ items }> %}
        <li>
            <% if crud.detail %><a href="{% url <{ crud.detail }> <{ by_id }> %}">{{ <{ item }> }}</a><% endif %>

            <% if crud.edit %><a href="{% url <{ crud.edit }> <{ by_id }> %}">[Edit]</a><% endif %>
            <% if crud.delete %><a href="{% url <{ crud.delete }> <{ by_id }> %}">[X]</a><% endif %>
        </li>
        {% endfor %}
    </ul>

    <p>
        <% if crud.create %><a href="{% url <{ crud.create }> %}">[Create]</a><% endif %>
    </p>
</div>