{% if parent.defined_template_name -%}
{{ "{% extends '" }}{{ parent.defined_template_name }}{{ "' %}" }}
{%- else -%}
{{ "{% extends '" + app_name + "/base.html' %}" }}
{%- endif %}

{% for area, blocks in page.blocks.items() -%}
{{ "{% block " }}{{ area }}{{ " %}" }}
{% for block in blocks -%}
{% if block.name == '..' -%}
{{ super() }}
{%- else -%}
{{ block.render(area=area, index=loop.index) }}
{%- endif %}
{%- endfor %}
{{ "{% endblock %}" }}
{%- endfor %}

{% if page.react %}
{{ "{% block js %}{{ block.super }}" }}
<script>
{% for page in page.react_pages.keys() -%}
R.renderClient(R.{{ page }}Reducer, R.{{ page }}, {{ '{{ react_state|safe }}' }}, document.getElementById('reactEl-{{ page }}'));
{%- endfor %}
</script>
{{ "{% endblock %}" }}
{% endif %}