{% load crud_utils i18n %}

{% if crud.crud_list_link %}
<a href="{% crud_link crud.crud_list_link %}">&laquo; {% trans "Back to the list" %}</a>
{% endif %}

<h2>{{ crud.meta.verbose_name }} "{{ crud.item }}"</h2>

<table>
    <tbody>
        {% for field, field_name in crud.fields.items %}
        <tr>
            <td>{{ field_name }}</td>
            <td>{% crud_field crud.item field %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p>
    {% if crud.crud_edit_link %}<a href="{% crud_link crud.crud_edit_link crud.pk_param crud.item.pk %}">[{% trans "Edit" %}]</a>{% endif %}
    |
    {% if crud.crud_delete_link %}<a href="{% crud_link crud.crud_delete_link crud.pk_param crud.item.pk %}">[{% trans "Delete" %}]</a>{% endif %}
</p>
